{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Bienvenido a AutoForm</h1>
            <p class="lead">AutoForm es una aplicación innovadora que utiliza inteligencia artificial para llenar automáticamente formularios de empleo mediante el análisis de tu hoja de vida. Simplifica tu proceso de búsqueda de empleo y ahorra tiempo valioso.</p>
            <a href="{% url 'register' %}" class="btn btn-dark">Regístrate ahora</a>
        </div>
        <div class="col-md-6">
            <img src="https://img.icons8.com/ios/452/form.png" class="img-fluid" alt="Form Icon">
        </div>
    </div>
</div>
{% endblock content %}