{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Bienvenido a AutoForm</h1>
            <p class="lead">AutoForm es una aplicación innovadora que utiliza inteligencia artificial para llenar automáticamente formularios de empleo mediante el análisis de tu hoja de vida. Simplifica tu proceso de búsqueda de empleo y ahorra tiempo valioso.</p>
            <a href="#" class="btn btn-primary">Más Información</a>
        </div>
        <div class="col-md-6">
            <img src="https://via.placeholder.com/500" class="img-fluid" alt="AutoForm">
        </div>
    </div>
</div>
{% endblock content %}