{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial, sans-serif;
        padding: 0;
        background: linear-gradient(135deg, #00000b, #01001f);
        color: aliceblue;
    }

    .background {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20%;
        /* Adding a linear gradient background */
        background: linear-gradient(135deg, #00000b, #01001f);
        overflow: hidden;
    }

    .background:hover {
        background: linear-gradient(135deg, #01001f, #00000b);
    }

    .btn-container{
        width: 100%;
        display: flex;
        justify-content: left;
        padding-left: 10%;
    }

    .button {
        color: #fff;
        background-color: #292847;
        text-decoration: none;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 1.5rem;
        font-family: 'Arial', sans-serif;
        cursor: pointer;
        opacity: 0.2;
        animation: fadeIn 2s ease 1.5s forwards;
        animation-delay: 0.1s;
        box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.5);
    }

    .button:hover {
        background-color: #292847;
        opacity: 0.5;
        color: #fff;
        box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5);
        transition: box-shadow 0.5s;
    }

    .text-container {
        color: #fff;
        font-family: 'Arial', sans-serif; 
        padding: 10%;
        padding-bottom: 0;
        opacity: 0; /* Initially hidden */
        animation: fadeIn 2s ease forwards; /* Trigger fade-in animation */
    }

    /* Fade-in animation keyframes */
    @keyframes fadeIn {
        0% {
            opacity: 0; /* Start invisible */
            transform: translateY(20px); /* Slight upward motion */
        }
        100% {
            opacity: 1; /* Fully visible */
            transform: translateY(0); /* Back to original position */
        }
    }
    .text-container h1 {
        font-size: 5rem;
        margin-bottom: 20px;
        letter-spacing: 2px;
    }

    .text-container p {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        max-width: 1200px;
        color: white;
    }
</style>

<div class="background">
    <div></div>
        <div class="text-container">
            <h1>Bienvenido a AutoForm</h1>
            <p>AutoForm es una aplicación innovadora que utiliza inteligencia artificial para llenar automáticamente formularios de empleo mediante el análisis de tu hoja de vida. Simplifica tu proceso de búsqueda de empleo y ahorra tiempo valioso.</p>
        </div>

        {% if user.is_authenticated %}
            <div class="btn-container">
                <a class="button" href="{% url 'informacion_usuario' %}">Modificar informacion
                </a>
            </div>
        {% else %}
            <div class="btn-container">
                <a class="button" href="{% url 'register' %}">Regístrate ahora</a>
            </div>
        {% endif %}


        <div>
            <img src="https://img.icons8.com/ios/452/form.png" class="img-fluid" alt="Form Icon">
        </div>
    </div>
</div>
{% endblock content %}